#Ignore:
#Build system's dependencies
.deps/

#Object files
.objs/

#Binary output
bin/

#All created .so files
*.so
*.o

#Documentation output
docs/

#Link to binary output in src
src/chiplib

#Link to documentation output in build
build/buildsystem.html
src/*.html

# Random "service" files
core
tags

# Symlinks
src/atsha204cmd/atsha204cmd
src/chipinit/chipinit
src/dev/dev
src/hmactest/hmactest
src/ucollect_example/ucollect_example
tests/challenge_response/challenge_response
tests/challenge_response_i2c/challenge_response_i2c
src/i2ctest/i2ctest
